body{
  background-color: rgb(255, 255, 255);
}
.apresentaçao {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  background-color: rgb(220, 230, 233);
  border: black 2px solid;
  padding: 10px;
}

.segundaclass {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  background-color: rgb(220, 230, 233);
  border: 2px solid black;
  padding: 10px;
}
.meme1 {
  display: block; /* display: block serve para exibir a imagem como um bloco */
  margin-left: auto; /* margin-left: auto serve para centralizar a imagem horizontalmente */
  margin-right: auto; /* margin-right: auto serve para centralizar a imagem horizontalmente */
  border-radius: 00%; /* border-radius: 50% serve para deixar a imagem arredondada */
  border: 2px solid black; /* border: 2px solid black serve para definir a borda da imagem */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* box-shadow serve para adicionar uma sombra à imagem */
  height: 300px; /* height serve para definir a altura da imagem */
  width: 300px; /* width serve para deifinir a largura da imagem */
  max-width: 100%; /* max-width: 100% serve para garantir que a imagem não ultrapasse o tamanho do contêiner */
  max-height: 100%; /* max-height: 100% serve para garantir que a imagem não ultrapasse o tamanho do contêiner */
  object-fit: cover; /* object-fit: cover serve para garantir que a imagem preencha */
}
.meme2{
  display:block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* box-shadow serve para adicionar uma sombra à imagem */
  margin:auto; /* text-align: center serve para centralizar a imagem horizontalmente */
  padding: 3px; /* padding serve para adicionar espaçamento interno à imagem */
  margin-top: 10px; /* margin-top serve para adicionar espaçamento acima da imagem */
  margin-bottom: 10px; /* margin-bottom serve para adicionar espaçamento abaixo da imagem
}

.negrito {
  font-size: 20px; /* font-size serve para definir o tamanho da fonte do texto em negrito */
}

.botao {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding: 10px; /* serve para adicionar espaçamento interno ao botão */
  border-radius: 5px; /* border-radius serve para arredondar os cantos do botão */
  cursor: pointer; /* cursor: pointer serve para mudar o cursor quando passar o mouse sobre o botão */
  text-align: center; /* text-align: center serve para centralizar o texto dentro do botão */
  color: black; /* color serve para definir a cor do texto do botão */
  font-size: 15px; /* font-size serve para definir o tamanho da fonte do botão */
  font-weight: bold; /* font-weight serve para definir o peso da fonte do botão */
}