body{
  background-color: rgb(255, 255, 255);
}
.apresentaçao {
  overflow: hidden; /* overflow: hidden serve para esconder o conteúdo que ultrapassa o tamanho do contêiner */
  background-color: rgb(220, 230, 233);
  border: 2px solid black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  text-align: center
}

.apresentaçao2 {
  overflow: hidden; /* overflow: hidden serve para esconder o conteúdo que ultrapassa o tamanho do contêiner */
  background-color: rgb(220, 230, 233);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  background-color: rgb(220, 230, 233);
  border: 2px solid black;
  padding: 10px;
  text-align: center
}
.meme1 {
  display: block; /* display: block serve para exibir a imagem como um bloco */
  margin-left: auto; /* margin-left: auto serve para centralizar a imagem horizontalmente */
  margin-right: auto; /* margin-right: auto serve para centralizar a imagem horizontalmente */
  border-radius: 00%; /* border-radius: 50% serve para deixar a imagem arredondada */
  border: 2px solid black; /* border: 2px solid black serve para definir a borda da imagem */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* box-shadow serve para adicionar uma sombra à imagem */
  height: 300px; /* height serve para definir a altura da imagem */
  width: 300px; /* width serve para deifinir a largura da imagem */
  max-width: 100%; /* max-width: 100% serve para garantir que a imagem não ultrapasse o tamanho do contêiner */
  max-height: 100%; /* max-height: 100% serve para garantir que a imagem não ultrapasse o tamanho do contêiner */
  object-fit: cover; /* object-fit: cover serve para garantir que a imagem preencha */
  object-position: center; /* object-position: center serve para centralizar a imagem dentro do contêiner */
  padding: 3px; /* padding serve para adicionar espaçamento interno à imagem */
}
.meme2{
  display:block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* box-shadow serve para adicionar uma sombra à imagem */
  margin:auto; /* text-align: center serve para centralizar a imagem horizontalmente */
  padding: 3px; /* padding serve para adicionar espaçamento interno à imagem */
  margin-top: 10px; /* margin-top serve para adicionar espaçamento acima da imagem */
  margin-bottom: 10px; /* margin-bottom serve para adicionar espaçamento abaixo da imagem*/
}

.negrito {
  font-size: 20px; /* font-size serve para definir o tamanho da fonte do texto em negrito */
}
.section1{
  float: left;
            width: 50%;
            padding: 15px;
}
.section2{
  float: left;
            width: 50%;
            padding: 15px;
}
.botao {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding: 10px; /* serve para adicionar espaçamento interno ao botão */
  border-radius: 5px; /* border-radius serve para arredondar os cantos do botão */
  cursor: pointer; /* cursor: pointer serve para mudar o cursor quando passar o mouse sobre o botão */
  text-align: center; /* text-align: center serve para centralizar o texto dentro do botão */
  color: black; /* color serve para definir a cor do texto do botão */
  font-size: 15px; /* font-size serve para definir o tamanho da fonte do botão */
  font-weight: bold; /* font-weight serve para definir o peso da fonte do botão */
}
.tabela {
  width: 100%; /* width serve para definir a largura da tabela */
  color: #333; /* color serve para definir a cor do texto da tabela */
}
.iframe{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* box-shadow serve para adicionar uma sombra ao iframe */
  display: block; /* display: block serve para exibir o iframe como um bloco */
  margin-left: auto; /* margin-left: auto serve para centralizar o iframe horizontalmente */
  margin-right: auto; /* margin-right: auto serve para centralizar o iframe horizontalmente */
  padding: 10px; /* padding serve para adicionar espaçamento interno ao iframe */
}
*{
            box-sizing: border-box;
        }
        .header{
            background-color: gray;
            padding: 20px;
            text-align: center;
        }
        body {
            margin: 0;
        }
        .menu{
            background-color: #333;
            overflow: hidden;
            text-align: center;
        }
        .menu a{
            color: white;
            padding: 14px 16px;
            float: left;
            display: block; 
            text-decoration: none; 
           
        }
        .coluna-50 {
            float: left;
            width: 50%;
            padding: 15px;
        }
        footer{
            text-align: center;
        }